*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(175, 194, 6);
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    flex-wrap: wrap;    
    flex-direction: row;
}
li{
    margin-top: 20px;
    color: white;
    margin-bottom: 20px;
    margin-right: 30px;
    display: flex;    
    width: 100vw;
    justify-content: space-evenly;
    background-color: rgb(175, 194, 6);
}
ul{
    display: flex;
    /*padding: 10px;*/
    width: 100vw;
}
li:not(:first-child){
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
}
li:last-child{
    background-color: red;
    display: flex;
    width: 100vw;
}